
#backgroundPane {
    /*-fx-background-image: url('../img/backgrounds/pattern4.png');
    -fx-background-repeat: repeat;
    */
    -fx-background-color: radial-gradient(focus-angle 45deg, focus-distance 40%, center 0 0, radius 100%, reflect, lightcoral, darkgray 75%, lightskyblue);
    -fx-alignment: center;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #03C;
}

#result {
    -fx-background-color: #03C;
    -fx-padding: 5px;
    -fx-border: 2px;
    -fx-border-style: solid;
    -fx-border-color: #03C;
    -fx-font-family: "Tahoma";
    -fx-font-size: 12pt;
    -fx-text-fill: #FFF;
}

.button {
    -fx-background-color: beige;
    -fx-font-size: 12pt;
    -fx-font-family: "Tahoma";
    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-text-fill: #03C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.button:hover{
    -fx-background-color: linear-gradient(silver, orange);
    -fx-text-fill: #FF0000;
}

#btnCE {
    -fx-text-fill: #ff1201;
}

#signature {
    -fx-alignment: center;
    -fx-text-fill: #03C;
    -fx-font-family: "Lucida Handwriting";
    -fx-font-size: 10pt;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #03C;
    -fx-background-color: burlywood
}

#btnPlus, #btnMin, #btnMul, #btnDiv {

    -fx-background-color: #0f9e9f;
}

#btnPlus:hover, #btnMin:hover, #btnMul:hover, #btnDiv:hover {
    
    -fx-background-color: linear-gradient(silver, orange);
}

/*
-fx-effect: dropshadow(gaussian,#03C, 10, 0.2, 2, 5);
-fx-effect: innershadow(gaussian,#03C, 10, 0.1, 1, 1);
-fx-background-color: radial-gradient(radius 100%, lightcyan, lightcoral, lightskyblue);
-fx-background-color: radial-gradient(focus-angle 45deg, focus-distance 20%, center 25% 25%, radius 50%, reflect, lightcoral, lightskyblue 75%, dimgray);

*/